node_modules
.env
coverage
broadcast
coverage.json
typechain
typechain-types
.DS_Store
.deps

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Foundry
cache/
out/
lcov.info

# JS
node_modules/

#Hardhat files
cache_hardhat/
artifacts/

#Hardhat plugin files
typechain-types/
.openzeppelin/unknown-*.json
