node_modules
.env
coverage
broadcast
coverage.json
typechain
typechain-types
.DS_Store
.deps

#Hardhat files
cache
artifacts

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Foundry
out/
lcov.info
